@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 769px) {
    body {
      margin-left: 300px;
      margin-right: 300px;
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    body {
      margin-left: 20px; /* Ajusta el margen según tus preferencias */
      margin-right: 20px; /* Ajusta el margen según tus preferencias */
    }
  }
  
  /* Estilos para dispositivos móviles (hasta 480px de ancho) */
  @media (max-width: 480px) {
    body {
      margin-left: 10px; /* Ajusta el margen según tus preferencias */
      margin-right: 10px; /* Ajusta el margen según tus preferencias */
    }
  }

  .prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }